Options +FollowSymLinks
RewriteEngine On
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

#make an exception for AJAX calls to set a dummy var 'skip=1' in URL
RewriteCond %{QUERY_STRING} !^skip=1$

#RewriteRule ^.*$ ./index.php
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]